* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
  }
  
  a:hover{
    color:orange;
  }
  
  /*  HEADER  */
  header{
    position: relative;
    padding: 0 2rem;
  }
  
  .navbar{
    width:100%;
    height: 60px;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo{
    display: flex;
  }

  .navbar .logo #logo{
    font-weight: bold;
    font-size: 1.5rem;
    border:none;
    background-color: transparent;
    color: #fff;
  }

  #logo:hover {
    color: orange;
    cursor: pointer;
  }

  .navbar .links{
    display: flex;
    gap: 2rem;
  }
  
  .navbar .toggle-btn{
    color:#fff;
    cursor:pointer;
    font-size: 1.5rem;
    display:none
  }
  
  .action-btn{
    background-color: orange;
    padding:0.5rem 1rem;
    color:#fff;
    font-size: 0.8rem;
    font-weight:bold;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor:pointer;
    transition: scale .2s ease;
  }
  
  .action-btn:hover{
    scale:1.05;
    color:#fff;
  }
  
  .action-btn:active{
    scale: 0.95;
  }
  
  .dropdown-menu{
    display: none;
    position:absolute;
    right:2rem;
    top:60px;
    width:300px;
    height:0px;
    background-color:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown-menu.open{
    height: 240px;
  }
  .dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* HERO */
  section#hero{
    height:calc(100vh - 60px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  
  #hero h1{
    font-size: 3rem;
    margin-bottom:1rem ;
  }
  
  /*  RESPONSIVE DESIGN */
  
  @media(max-width:992px){
    .navbar .links,
    .navbar .action-btn{
      display: none;
    }
    .navbar .toggle-btn{
      display: block;
    }
    .dropdown-menu{
      display: block;
    }
  }
  
  @media(max-width:576px){
    .dropdown-menu{
      left:2rem;
      width: unset;
    }
  }